# Virtual environments
.venv/
env/
venv/

# Conda
*.conda
conda-env/
.env/

# Python packaging
*.egg-info/
dist/
build/

# Python cache
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# datajoint configs
dj_*

# pytest --with-db scratch; spyglass populates this as its base dir
tests/_data/

# jupyter
.ipynb_checkpoints/

# csvs
*.csv

notebooks/sleepscoring_notebook.ipynb
